.dec {
    background-image: url('/public/asset/images/bg.png');
    background-size: cover;
    height: 40vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
    position: relative;
    border-radius: .8rem;
    display: block;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: linear-gradient(130deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.974681) 25.46%, rgba(34, 14, 14, 0.909574) 46.72%, rgba(229, 0, 0, 0) 168.98%);
    }

    .section-fx {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 5rem;
  
        top: 50%;
        left: 50%;
        z-index: 75757;
        transform: translate(-50%, -50%);
        @apply px-10;
    }
}