body {
    font-family: 'Manrope', sans-serif;
    @apply text-white bg-bk08;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}