body {
    font-family: 'Manrope', sans-serif;
    @apply text-white bg-bk08 ;

}
html{
  font-size: 92.5%;
}

body {
    --sb-track-color: #333333;
    --sb-thumb-color: ##E50000;
    --sb-size: 7px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;
    border: 1px solid  transparent;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // color: #;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.cont{
    padding: 0 4vw;
}
