@use "sass:map";

@mixin round-small {
    border: 1px solid #262626;
    border-radius: 12px;
}

@mixin centered{
  @apply mx-6  sm:mx-10 lg:mx-16 xl:mx-20 lp:mx-40
}


$breakpoints: (
    "sm-phone": 25em,
    "phone": 37.5em,
    "big-phone": 47em,
    "tab-port": 56.25em,
    "tab-land": 75em,
    "sm-desktop": 93.8em,
    "bg-desktop": 112.5em,
    "xl-desktop": 140.5em,

);

@mixin small-phone {
    @media (max-width: map.get($breakpoints, "sm-phone")) {
        @content;
    }

}

@mixin phone {
    @media (max-width: map.get($breakpoints, "phone")) {
        @content;
    }

}

@mixin big-phone {
    @media (max-width: map.get($breakpoints, "big-phone")) {
        @content;
    }

}

@mixin tab-port {
    @media (max-width: map.get($breakpoints, "tab-port")) {
        @content;
    }

}

@mixin tab-land {
    @media (max-width: map.get($breakpoints, "tab-land")) {
        @content;
    }

}

@mixin sm-desktop {
    @media (max-width: map.get($breakpoints, "sm-desktop")) {
        @content;
    }

}

@mixin bg-desktop {
    @media (min-width: map.get($breakpoints, "bg-desktop")) {
        @content;
    }


}

@mixin xl-desktop {
    @media (min-width: map.get($breakpoints, "xl-desktop")) {
        @content;
    }

}