.section-fx {
    @apply flex justify-between items-start gap-5 md:items-center flex-col md:flex-row;

    .textBox {
        @apply flex justify-center items-start flex-col md:w-3/4 gap-2 md:pr-10;



    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mar-btm {
    @apply mb-24 lg:mb-28 lp:mb-36;
}

.box {
    @apply h-14 w-12 flex justify-center md:w-12 md:h-12 xl:h-14 xl:w-14 items-center rounded-xl;

    background: #1F1F1F;
    border: 1px solid #262626
}

.bor {
    border: 1px solid #262626;
    background: #141414;
    border-radius: 8px;
}

.profile-card {
    padding: 1.3rem;
    gap: .6rem;
}

.round-small {
    border: 1px solid #262626;
    border-radius: 12px;
}

.tag span {
    @apply p-2 rounded bg-red45;
}

.dots {
    transform: translate(0) !important;
    // width: 80px !important;
    width: 100% !important;
    overflow-x: hidden !important;
    margin: 0 auto !important;

    .swiper-pagination-bullet {
        background-color: #333333;
        border-radius: 100px !important;
        height: 4px !important;
    }

    .swiper-pagination-bullet-active {
        background-color: red;
    }
}

.pagination {
    @apply rounded-2xl hidden md:flex  md:gap-2 md:p-3 lg:gap-3 lg:p-4 bg-bk06 items-center;

}

.pagination-hero{
    @apply bg-transparent;
    @extend .pagination;
}