@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Manrope", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  @apply bg-black;
}
.header .bgimages {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  @apply gap-2 h-full w-[1200px] md:w-full lg:w-full grid-flow-row-dense bg-black;
}
.header .bgimages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply rounded-xl;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #141414 0%,
    rgba(20, 20, 20, 0) 100%,
    #141414,
    rgba(20, 20, 20, 0) 100%
  );
  pointer-events: none;
  @apply bg-gradient-to-b from-bk08 via-transparent to-bk08;
}


