// .open-hero {
//   height: 100vh;
//   overflow: hidden;

//   .heroimages {
//     border: 1px solid rgba(38, 38, 38);


//     border-radius: 12px;

//     img {
//       width: 100%;
//       object-fit: cover;
//       object-position: center;
//     }

//     position: relative;
//   }

//   .contentbox {
//     position: absolute;

//     left: 50%;
//     bottom: 10%;
//     transform: translateX(-50%);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     width: 100%;
//     z-index: 2;

//     .tab {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 1.25rem;
//       margin-top: 2rem;

//       button {
//         padding: 14px;
//       }

//       .action {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 0.625rem;

//         li {
//           height: 3.5rem;
//           width: 3.5rem;
//           position: relative;
//           background-color: #fff;
//           border: 1px solid #262626;
//           background: #0f0f0f;
//           border-radius: 0.5rem;

//           img {
//             position: absolute;
//             left: 50%;
//             top: 50%;
//             transform: translate(-50%, -50%);
//           }
//         }
//       }
//     }
//   }

//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: linear-gradient(transparent, #141414 90%);
//   }
// }
#movies,
#tv {
  gap: 100px;
  display: flex;
  flex-direction: column;
}

.content--wrapper {
  // align-items: start;
  // @apply grid grid-cols-1 gap-24 ;


  .main-content {
    display: flex;
    flex-direction: column;
    grid-column: span 7 / span 7;
    gap: 1.25rem;

    .content {
      padding: 3.2rem;
      border: 1px solid hsl(0, 0%, 15%);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1.9rem;

      @media (max-width: 98.8em) {
        padding: 30px;
      }

      .head-box {
        justify-content: space-between;
        display: flex;

        .navigation {
          img {
            width: 100%;
          }
        }
      }

      .casts-swiper-wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
      }

      .casts-slide {
        display: flex;

        swiper-slide {
          border-radius: 12px;
          overflow: hidden;
          // flex-grow: 1;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .myreview-wrapper {
        overflow: hidden;
      }

      .myreview {
        .swiper-slide {
          border: 1px solid #262626;

          border-radius: 12px;
          @apply bg-bk06;
        }

        .reviewHeader {
          p {
            @apply text-xl;
          }

          .from {
            @apply text-gray90 text-lg;
          }

          .rating {
            padding: 6px 10px 6px 10px;
            gap: 4px;
            border-radius: 51px;
            opacity: 0px;
            @apply bg-bk08;
            border: 1px solid #262626;
          }
        }

        .review {
          @apply text-gray60;
        }
      }
    }

    .pad {
      padding: 3.2rem;
    }
  }

  .aside {
    border-radius: 12px;
    padding: 50px;
    background: #1a1a1a;
    border: 1px solid #262626;
    display: flex;
    gap: 1.9rem;
    flex-direction: column;
    grid-column: span 5 / span 5;

    @media (max-width: 98.8em) {
      padding: 30px;
      gap: 1.3rem;
    }
  }
}


  {
  @apply flex justify-between items-center w-full;

  .time-tag,
  .views-tag,
  .release-tag {
    border: 1px solid #262626;
    @apply mt-2 flex items-center justify-center gap-1 px-2 py-2 xsm:py-1 xl:py-1 lp:py-2 bg-bk08 rounded-full;
  }
}

.views {
  align-items: center;
  justify-content: center;
}

.cot {
  .swiper-slide {
    border: 1px solid #262626;
    @apply flex flex-col items-center justify-center gap-4 p-4 bg-bk10 rounded-xl;

    .poster {
      @apply overflow-hidden rounded-xl w-full;

      img {
        width: 100%;
      }
    }

    .details>.release-tag {
      width: 100%;
    }
  }


}