.header {
height: 120%;


    @apply w-lvw   overflow-hidden;


    .bgimages {
        display: grid;
        position: relative;
        grid-template-columns: repeat(9, 1fr);
        // grid-auto-rows: 200px;
        @apply gap-2 h-4/5 md:h-3/4  w-[1200px] md:w-full lg:w-full grid-flow-row-dense ;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            @apply rounded-xl overflow-scroll;
        }
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply duration-1000 z-10 w-52 md:w-80 lg:w-96 h-52 md:h-auto  flex justify-center items-center bg-blend-multiply;

        img {
            @apply w-full ;
        }
    }

    .textBox {
        position: absolute;
        left: 50%;
        transform: translate(-50%,10%);
        text-align: center;
        gap: 10px;
        z-index: 1;
        // background: linear-gradient(180deg, transparent 0%, black 100%);
        background: linear-gradient(180deg, rgba(20, 20, 20, 0.02) 0%,#141414 25%, #141414 100%);

        @apply flex flex-col items-center justify-center px-2 md:px-10 lg:px-40 mt-5 -bottom-1/4 ;
    }
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.8) 50%, rgba(20, 20, 20, 0.4) 100%);


}