.nav {
    @apply px-6 pt-8 sm:px-10 lg:px-16 xl:px-20 lp:px-40 w-lvw pb-4 backdrop:blur-md flex justify-between items-center;

    .logo {
        overflow: hidden;
        @apply flex items-center;

        img {
            @apply h-8 w-8;
        }

    }

    .menuBar {
        border: 3px solid #262626;

        @apply flex md:hidden justify-between items-center rounded-md w-12 h-12 p-3 gap-4 bg-bk12;

    }

    .fx {
        @apply md:flex items-center justify-center gap-4;
    }

    .mainLinks {
        border: 3px solid;
        @extend .fx;
        @apply capitalize border-bk12 bg-bk08 py-1 pl-2 rounded-md pr-7;

    }

    .navItems {
        @extend .fx;
        gap: 12px;

        li {
            @apply rounded-md;

            &:hover {
                @apply bg-bk12;
            }
        }
    }

    // ...existing code...

    .navmobile {
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        opacity: 1;
        display: none;
        z-index: 9; // Hide by default
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(6px);
        transform: translateX(100%);
        transition: all 500ms ease-out;
        transform-origin: top left;

        @media (max-width: 768px) {
            display: block; // Show on small screens
            position: fixed;
            background-color: rgba(0, 0, 0, 0.8);


            .nav-items {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

                li {
                    width: 100%;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }

    }


}

.slide-in {
    transform: translateX(0) !important;

}